
@media only screen and (max-width: 300px) {
    .align{
        margin-right: auto;
        margin-left: auto;
    }
  }



.align{
    position: relative;
    top: 100px;
    margin-bottom: 110px;
    margin-right: auto;
    margin-left: auto;
    align-self: auto;
    font-family: IBM Plex Sans;
    max-width: 1100px;

}
