
@media only screen and (max-width: 500px) {
    .align{
        margin-right: auto;
        margin-left: auto;
        /* width:50px; */
        padding-left: 0px;
        padding-right: 0px;
    }
  }



.align{
    position: relative;
    top: 100px;
    margin-bottom: 110px;
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 30px; */
    /* padding-right: 30px;  */
    align-self: auto;
    font-family: IBM Plex Sans;
    max-width: 1100px;
}