
@media only screen and (max-width: 500px) {
    .align{
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
  }



.align{
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: IBM Plex Sans;
    max-width: 1100px;
}